<table class="table table-striped" >
    <thead >
        <th>Id</th>
        <th>Descrição</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let r of recursos | async">
            <td scope="row">{{r.id}}</td>
            <th>{{r.descricao}}</th>
            <th><button class="btn btn-success" style="font-size:5px;"> <i class="fa fa-edit" style="font-size:20px;color:white;"></i></button>
                <button class="btn btn-danger" style="font-size:5px;"> <i class="fa fa-trash" style="font-size:20px;"></i></button>
            </th>
        </tr>
    </tbody> 
</table>