<div class="col-xs-12" style="height: 50px;"></div>
<div class="mx-auto" style="width: 400px;">
    <form #f="ngForm" (ngSubmit)="salvar(anotacao)">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="Id">ID</label>
                <input type="email" class="form-control" id="Id"
                    placeholder="id" name="id" [(ngModel)]="anotacao.id_pessoa_grupo">
                <br>
                <label for="Obs">Observação</label>
                <input type="email" class="form-control" id="Obs"
                placeholder="obs" name="obs" [(ngModel)]="anotacao.obs">
                <br>
                <label for="Obs">Data</label>
                <input type="date" class="form-control" id="data"
                placeholder="data" name="data" [(ngModel)]="anotacao.data">
            </div>
        </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>